<div class="">
  <div class="row">
    <div class="col-sm-3">
      <p>Create your own 3D object.</p>
      <form action="">
      <label class="form-label" for="customFile">Default file input example</label>
      <input type="file" class="form-control" id="customFile" />

    </form>

    <div class="bg-gray-200">
        <div class="flex flex-col items-center justify-center h-screen">
            <div class="flex flex-col">
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-gray-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-red-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-orange-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-yellow-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-green-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-teal-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-blue-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-indigo-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-purple-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
    
                <label class="inline-flex items-center mt-3">
                    <input type="radio" class="form-radio h-5 w-5 text-pink-600" checked><span class="ml-2 text-gray-700">label</span>
                </label>
            </div>
        </div>
    </div>
    </div>
    <div class="col-sm-9">
      <canvas #canvas id="canvas" style="height: 100vh; width: 100%;" ></canvas>
    </div>
  </div>
</div>
