<div id="about">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
          Description
        </button>
      </h2>
      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Use the W,S,A and D keys to navigate the scene below. Compatible with most VR Headsets.</p>
          <p>Owned by <strong>John Doe</strong> 1 favourite<i class="fa fa-heart fa-lg"></i></p>
          <p>Current price <strong>53 ($163.79)</strong> <i class="fab fa-ethereum fa-lg"></i></p>
          <button type="button" class="btn btn-lg btn-block btn-primary">Buy Now</button>
          <button type="button" class="btn btn-lg btn-block btn-info">Make Offer</button>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          MarketPlace
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <div class="row">
            <div class="col-sm-6">
              <div class="card">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/wOIB8oLpbzUJxl1m30A-D1bJ7mUIjQ4mwfl9iXUuzIds3l4wKihiSXX9M8ua8ShpljQN1WBg1PBvilvPY6q93snV6JXJj1EHOsGmGZQ=w600" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go to this scene</a>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card">
                <img class="card-img-top" src="https://lh3.googleusercontent.com/wOIB8oLpbzUJxl1m30A-D1bJ7mUIjQ4mwfl9iXUuzIds3l4wKihiSXX9M8ua8ShpljQN1WBg1PBvilvPY6q93snV6JXJj1EHOsGmGZQ=w600" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go to this scene</a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 p-5 text-center">
              <nav aria-label="Scene Navigation">
                <ul class="pagination">
                  <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
          Swap
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingFour">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
          Create
        </button>
      </h2>
      <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          <p>Create your own scene</p>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  <a-scene environment="preset: goaland; lighting: none;"
           keyboard-shortcuts="enterVR: false;">
  
    <!-- Dim ambient lighting.  -->
    <a-light type="ambient" color="#222222"></a-light>
    <a-light type="point" color="#CCCCCC" position="0 3 0"></a-light>
  
    <a-assets timeout="10000">
      <img id="crate" 	src="assets/images/crate.jpg" />
      <img id="grid" 		src="assets/images/color-grid.png" />
      <img id="wood" 		src="assets/images/wood.jpg" />
      <img id="plaster"	src="assets/images/plaster.jpg" />


      <img id="cat" 	src="https://lh3.googleusercontent.com/t8czj1PeSWr2pLNUgbsunfYe9uzV0x0s87hb5aKmSkDdcN8zNn5d7QTTSp8Yg3lFo_ZcZoej7WqXIQtjVObVXjFJ9xeM2b2VMry_=w600" />
      <img id="eden" 	src="https://lh3.googleusercontent.com/EId_5PGx9GcnOwD1z4ZeN5Caf2fT2UE9NoI_ftmCOWX1wGtBUUNUnSYLlgOO5YUXCPVJ57mFw3rf8GpEu_CZvzgsm1AEJEMohowf=w310" />
      <img id="shark" 	src="https://lh3.googleusercontent.com/9ghWGM9HISxX_Hg_9lo7GcNQ6NKFL-xlBh7GiZMuneb5XtSqnKCQqyQFiPLOYc6S0s6kaC6z3vuQ060Ti0cKIH2KOy3-GhIEigOPc1k=w310" />
      <img id="form" 	src="https://lh3.googleusercontent.com/ZyIXT9c0bZ0MqEm1zhRszgpq6BnvGB2Gf7sQa2kP9Xu9DDTZXoWfG5B0iV57_2bg704t6BM2Q1QknttKt3j6WN7MSNRt5EYVLcOF6A=w310" />
      <img id="horse" 	src="https://lh3.googleusercontent.com/NsSK6zeBRw-wGiEu2ptxWDUNqHqbO6n4OxZZeXU0s9evN2gCaKx5RpgVsjqqiTu1N3ig9wFhALer1l6Aw4rg67dV3GQqTo7CazftQw=w310" />
      <img id="glengarrif" 	src="https://lh3.googleusercontent.com/f2VF4UaGml2WnQ8yTHgNxOhfsQVfpfLiovbUNUC7uRvdQPP_7OB7gsG235tAGXJAbdxeO9rIOdi8jSzVTzaxisBlS8hr0N_sRNJM=w303" />
      <img id="vancouver" 	src="https://lh3.googleusercontent.com/TkxEJoJpMfrB6kvwf3EuKQlAMf_jpaAI6jRl2zKQe6ryY2BK81hvJQcvMSdTWZyrmyhYKVbGv5faTHNgMu1-9aLaeT2pRfGRP1zwZw=w303" />
      <img id="chevy" 	src="https://lh3.googleusercontent.com/zaAwQXItFn5Goj8d8WKdWhL3NMy3QQ_dhAkbKUuKwJnvYYgengBLF1YPbud83pXJtow2Ll7TJltZWy-zvGXcloF8mC9gWyGFQUPQiQ=w303" />
      <img id="killarney" 	src="https://lh3.googleusercontent.com/llM_EmAFvZuSRIw-E5KGnbSKwuuAHFTvxC_OrgXacZoHlDce9Z8hO__gJ0xjgFNUfUvAQkph9RZMNeUmg3XWgmSGY2Eippj93_3c=w303" />
      
      <img id="brooklyn" 	src="https://lh3.googleusercontent.com/11Ud6Mz4S9e0b2tUu45hPUPNt5al_qCl4MqUTehskSV__J0KrlPdd-XW3KR5OcY4UioNYdK28Tdz48F3DGxJHU6CJhOWWPEZpd3M=w303" />
      <img id="skellig" 	src="https://lh3.googleusercontent.com/uRYiuILh_wXK--sIHFrloiHwDLubOtD0BUU8RwRK7GWe8emblcWSztcIgMgb3sWgEKNvTjR55Zr_Ndye17xuMRNju7y3LskqDmziOKk=w303" />
      <img id="halifax" 	src="https://lh3.googleusercontent.com/MCPr_qLby1H9YFaxl4pZ6QpUT-F5yVV_0Xn4i82UuFbMaC4dvETk7uJo2CN2DfPVd3f0q0L7XIFbPBi1sEHubmGbIwdwIIgc0Hqa0w=w303" />
      <img id="shore" 	src="https://lh3.googleusercontent.com/Mjz024wmFjdX_Jp4egsrEG3KFW3UsG7nGZIQPIH4h0CDRbl7UklxH0WIjcgIA0ZW9G-NkaIkA9OiSXqSmGobWyxw2knZGg2lPAlT=w303" />
      


      <img id="lilac" 	src="https://lh3.googleusercontent.com/EId_5PGx9GcnOwD1z4ZeN5Caf2fT2UE9NoI_ftmCOWX1wGtBUUNUnSYLlgOO5YUXCPVJ57mFw3rf8GpEu_CZvzgsm1AEJEMohowf=w310" />
      <a-asset-item id="table" src="assets/models/table.glb"></a-asset-item>
      <a-asset-item id="picture" src="assets/models/picture.glb"></a-asset-item>
      <a-asset-item id="pagoda" src="assets/models/Parrot.glb"></a-asset-item>
      <video id="video" loop="true" src="assets/video/sintel.mp4"></video>
    </a-assets>
  
    <!--
        create a camera entity
    -->
    <a-entity id="camera" camera
              position="0 1.6 0"
              look-controls wasd-controls="acceleration: 10;" boundary>
      <!--            <a-cursor color="#000"></a-cursor>-->
    </a-entity>
  
  
    <!-- floor -->
    <a-box width="18" depth="6.5" height="0.1" position="0 0 0" material="src:#wood;"></a-box>
    <a-box width="18" depth="6.5" height="0.1" position="0 3 0" material="src:#wood;"></a-box>
  
    <!-- walls -->
    <a-box width="18" depth="0.1" height="3" position="0 1.5 -3.1" material="src:#plaster; repeat: 4.2 2;"></a-box>
    <a-box width="18" depth="0.1" height="3" position="0 1.5 3.1" material="src:#plaster; repeat: 4.2 2;"></a-box>
    <a-box width="18" depth="0.1" height="3" position="3.1 1.5 0" rotation="0 90 0" material="src:#plaster; repeat: 4.2 2;"></a-box>
    <a-box width="18" depth="0.1" height="3" position="-3.1 1.5 0" rotation="0 90 0" material="src:#plaster; repeat: 4.2 2;"></a-box>
  
    <!-- artwork -->
    <a-entity position="1.8 1.2 -3" rotation="0 270 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.8 0" rotation="0 90 0" material="shader:flat; src:#halifax; side:double;"></a-plane>
    </a-entity>
    <a-entity position="0 1.2 -3" rotation="0 270 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.8 0" rotation="0 90 0" material="shader:flat; src:#cat; side:double;"></a-plane>
    </a-entity>
    <a-entity position="-1.8 1.2 -3" rotation="0 270 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.8 0" rotation="0 90 0" material="shader:flat; src:#form; side:double;"></a-plane>
    </a-entity>

    
    <a-entity position="3 1.2 -1.8" rotation="0 180 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#eden; side:double;"></a-plane>
    </a-entity>
    <a-entity position="3 1.2 0" rotation="0 180 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#shark; side:double;"></a-plane>
    </a-entity>
    <a-entity position="3 1.2 1.8" rotation="0 180 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#form; side:double;"></a-plane>
    </a-entity>


    <a-entity position="-3 1.2 -1.8" rotation="0 0 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#horse; side:double;"></a-plane>
    </a-entity>
    <a-entity position="-3 1.2 0" rotation="0 0 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#glengarrif; side:double;"></a-plane>
    </a-entity>
    <a-entity position="-3 1.2 1.8" rotation="0 0 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#vancouver; side:double;"></a-plane>
    </a-entity>


    <a-entity position="-1.8 1.2 3" rotation="0 90 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#chevy; side:double;"></a-plane>
    </a-entity>
    <a-entity position="0 1.2 3" rotation="0 90 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#killarney; side:double;"></a-plane>
    </a-entity>
    <a-entity position="1.8 1.2 3" rotation="0 90 0" scale="1 1 1.6" gltf-model="#picture">
      <a-plane position="0.02 0.68 0" rotation="0 90 0" material="shader:flat; src:#brooklyn; side:double;"></a-plane>
    </a-entity>
  
    <!-- table  -->
    <a-entity position="-2.5 0 -2.5" color="#0000FF" gltf-model="#table">
    </a-entity>
  
    <!-- parrot -->
    <a-entity position="-2.5 1.1 -2.5" scale="0.01 0.01 0.01" color="#0000FF" gltf-model="#pagoda">
    </a-entity>
  
  </a-scene>
  