<nav class="navbar navbar-expand-lg navbar-dark bg-dark text-white">
  <div class="container px-4 px-lg-5 text-white">
      <a class="navbar-brand" href="#!">VRoom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
              <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Marketplace</a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="#!">All VRooms</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#!">Popular</a></li>
                      <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                      <li><a class="dropdown-item" href="#!">Objects</a></li>
                  </ul>
              </li>
          </ul>
          <form class="d-flex">
              <button class="btn btn-outline-dark text-white border-white" type="submit">
                  <i class="bi-wallet-fill me-1"></i>
                  Connect your wallet
                  <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
              </button>
          </form>
      </div>
  </div>
</nav>
<header class="bg-dark py-5" style="background-image: url('assets/images/demo/animation.png'); background-size: cover;">
  <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
          <p class="lead fw-normal text-white-50 mb-0">VRoom</p>
          <p class="fw-normal text-white-50 mb-0">The easiest way to customize and mint your own VR NFTs (Oculus Quest Compatible).</p>
          <button class="btn btn-primary rounded-pill mt-3" type="submit" routerLink="/create">
            <i class="bi-cart-fill me-1 text-white-50"></i>
            <a class="text-white hover:no-underline">Create your own VR Scene.</a>
        </button>
      </div>
  </div>
</header>
<section class="py-5 bg-dark">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5">
              <div class="card h-100">
                  <!-- Product image-->
                  <a routerLink="/scenes">
                    <img class="card-img-top" src="/assets/images/gallery.png" alt="...">
                  </a>

                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">Art Gallery</h5>
                          <p>Owned by <a href="">Fintan Kearney</a></p>
                          <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                  </div>
              </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FE1as4gY8cmQ9HvnDJ2cQ%2Fhero_800x600?alt=media&token=576243dc-87bc-488e-a80b-dee8d3cbd8d4" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FqCjKilnOj2khEFtVOHSJ%2Fhero_800x600?alt=media&token=6b039b3e-e601-48d2-915b-488c852546af" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
          </div>
          <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2F5F8EBys0NFeVipbXw7mp%2Fhero_800x600?alt=media&token=1455b192-9f7f-4b6c-ab8b-b2520042b4be" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
          </div>
      </div>
  </div>
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FjA8hu3kXwDoW4LHryF8J%2Fhero_800x600?alt=media&token=5bb5a8ad-614b-4751-a7af-bec9c6c9d09a" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FjA8hu3kXwDoW4LHryF8J%2Fhero_800x600?alt=media&token=5bb5a8ad-614b-4751-a7af-bec9c6c9d09a" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FjA8hu3kXwDoW4LHryF8J%2Fhero_800x600?alt=media&token=5bb5a8ad-614b-4751-a7af-bec9c6c9d09a" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
        </div>
        <div class="col mb-5">
            <div class="card h-100">
                <!-- Product image-->
                <a routerLink="/scenes">
                  <img class="card-img-top" src="https://firebasestorage.googleapis.com/v0/b/cyber-art-prod.appspot.com/o/images%2FjA8hu3kXwDoW4LHryF8J%2Fhero_800x600?alt=media&token=5bb5a8ad-614b-4751-a7af-bec9c6c9d09a" alt="...">
                </a>

                <!-- Product details-->
                <div class="card-body p-4">
                    <div class="text-center">
                        <!-- Product name-->
                        <h5 class="fw-bolder">Art Gallery</h5>
                        <p>Owned by <a href="">Fintan Kearney</a></p>
                        <p>Current Price <i class="fa-brands fa-ethereum"></i> 24 ($24.00)</p>
                    </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                    <div class="text-center"><a class="btn btn-outline-dark mt-auto" routerLink="/scenes">Visit Room</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
